# Copier ce fichier en .env et remplir vos valeurs
DERIV_APP_ID=1089
# Token utilisateur Deriv (optionnel pour les données publiques)
DERIV_API_TOKEN=pat_a38a68476e02a9a5829a570c7694dcc202765fefe7eec3d75fe8cc8beb9a98f2
